.wrapper-container{
    background-color:lightblue
   
}

*{
    font-family:'Times New Roman', Times, serif;
    background-color:rgb(53, 57, 82);
    color:rgb(192, 192, 239);

    
}
.menu-contain{
    background-color: lightblue;
    color:blue;
    border: 0px;

}

.input-text{
    width:85.1%;
    height:46px;
    margin-bottom: 12px;
    border-color:green;
    color:aqua;
    border:0px;
}
.input-set-text{
    width:42.6%;
    height:46px;
    border-color:green;
    color:rgb(157, 243, 157);
    border:0px;
}
.input-text-login{
    width:92.3%;
    height:34px;
    margin:0px;
    color:lightblue;
    margin:10px;
    border-color:red;
}
.input-prg-data{
    width:85.2%;
    height:440px;

}


.account-bar{
    width:48.6%;
    height: 34px;
    border:0px;

}
.open{
    border:0px;
    margin-bottom: 12px;
}
.flex{
    width: 98.2%;
    height:440px;
    overflow-y: auto;
}

.bar-btn{

   background-color: azure;
    border:0px;
    color:blue;
}

.txt-loc{
    width:92.3%;
    height:200px;
    margin:10px;
    border-color:aqua;


}
.input-body{
    width:94.2%;
    height:400px;
    background-image:url('lidah.jpg');
    text-align: center;
}
.dat-nav{
    margin:12px;
}
.search-container{
   width:65%;
   height:34px;

}


.search-btn{
    background-color: aqua;
    border:0px;
    color:orangered;
    height:34px;
}
.dat-nav{
    margin-top: 0px;
    text-align: center;
}

.pass-container{
    width:92.3%;
    height:34px;
    margin:0px;
    border-color:red;

}
.input-add-container{
    border-color:green;
    color:gray;
    width:87.4%;
    height: 90px;
    margin-top:12px;
}
.editor{
    width:85.2%;
    height:360px;
    color:aqua;
    margin-bottom: 12px;

}

.btn-upload{
    border-color:lightblue;
    color:lightblue;
    background-color: blueviolet;
    width:200px;
    border: 12 px solid blue;
    height: 34px;
    margin-left: 13px;
    margin-top: 12px;
}
.dat-private{
    width:90.2%;
    height: 940px;
    overflow-y: auto;
}

.private-menu{
  margin-left: 19px;
  height: 34px;
  border:0px;
  margin:99.2%;
  
}
.bar-menu{
    margin-left: 19px;
    border-color:aqua;
    color:blue;
    
}
.text-market{
    margin:12px;
    width:92.2%;
    height: 45px;
   border-color: aquamarine;
}
.num-input{
    width: 46%;
    height:45px; 
    border-color:antiquewhite;
    margin-bottom:12px;
}
.input-text-market{
    width:92.2%;
    height: 45px;
    border-color:aquamarine
}
.account-input-wrapper{
    width:97.2%;
    height:300px;
}

.chat-wrapper{
    width:32.1%;
    height:34px;
    border:0px;
    background-color: gray;
}
.chat-hreff{
    width:48.5%;
    height:34px;
    border:0px;
    margin-left: 0px;
}

.select_dataInformation{
    width:300px;
    height: 45px;
    border:0px;

}
.dat-post{
    width:85.2%;
    height:360px;
    color:aqua;
    margin-left:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-y: auto;

}

.chat-input-container{
    width:670px;
    height:30px;
    border-color:aquamarine;

}
.chat-wrapper{
    width:97.2%;
    height:430px;
    overflow-y: auto;
}
.member-container{
    width:300px;
    height: 34px;
    margin: 6px;
}
.create-container{
    width:147px;
    height: 34px;
}
.input-groupt-container{
    width:300px;
    height: 34px;
    color:rgb(26, 232, 26);
}
.btn-create{
    width: 300px;
    height: 34px;
    color:aqua;
    border-color: lightblue;
}
.bar-account{
    width:200px;
    height: 34px;
    overflow-x: auto;
    margin:0px;
    border-color:aqua;
}
.menu-navigation-container{
    width:31.2%;
    height: 34px;
    border-color:aqua;
    border:0px
}

.menu-navigation-private{
    width:17.1%;
    height: 34px;

}

.data-market-post{
    width:300px;
    height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}
.LoginOut-container{
    width:400px;
    height: 34px;
}
.chat-body-container{
    height:93.6%;
    height:400px;
    overflow-y: auto;
}
.messeage-container{
    width:90.1%;
    border-color:chartreuse;
    color:burlywood
}
.btn-chat{
    color:aquamarine;
    width:100px;
    line-height-step: 34px;
    height: 34px;
    border: 0px;

}
.btn-chat:hover{
    color:bisque;
    font-family: monospace;
}
.input-market-text{
    width:410px;
    height: 34px;
    color:blanchedalmond;
    border-color: aqua;
}
.input-market-num{
    width:199px;
    height: 34px;
    color:orange;
    border-color:orangered;
}
.market-textarea{
    width:410px;
    height: 100px;
}



.this-short-container{
   width:92.1%;

   height:270px;
   overflow-x: auto;
   overflow-y: auto;


}
  
